@require "common/variables";
@require "common/mixins";

html, body {
  size: 100%;
  box-sizing: border-box;
}

.welcome-block {
  text-align: center;
  width: 600px;
  margin: 20px auto;
}

.welcome-block__img {
  width: 350px;
}

