@require "common/variables";
@require "common/mixins";
@require "common/*";

html, body {
  size: 100%;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

main {
  display: block;
  padding: 15px 0;
}

.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

@require "components/*";
